<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <h1>Your images: </h1>
    {{range .}}
    <img src="/public/{{.}}">
    {{end}}

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="nf">
        <input type="submit">
    </form>
</body>
</html>
